@charset "UTF-8";
/*PAGINA DOS: DELICIAS*/
.seccion-delicias {
  font-family: 'Thasadith', sans-serif; }
  .seccion-delicias main .titulo-delicias {
    background-color: #E79E85;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0.8em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 2em; }
  .seccion-delicias main .galeria .galeria-imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: none;
    margin-left: none; }
    .seccion-delicias main .galeria .galeria-imagenes div {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .seccion-delicias main .galeria .galeria-imagenes div .imagen-g {
        padding: 1em;
        border-radius: 0.2em;
        max-width: 100%;
        max-height: auto; }
        .seccion-delicias main .galeria .galeria-imagenes div .imagen-g:hover {
          opacity: 0.9; }
  .seccion-delicias main .seccionMenu {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: none;
    margin-left: none;
    padding: 2em;
    border-radius: 1em;
    background-image: url(/imagenes/tic-tac-toe.png);
    border: 2px solid #E79E85; }
    .seccion-delicias main .seccionMenu .delicias {
      background-color: #E79E85;
      color: #ffffff;
      padding: 0.5em;
      border-radius: 0.2em;
      font-family: "Caveat" cursive;
      font-size: 2em;
      text-align: center; }
    .seccion-delicias main .seccionMenu .contenedor-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap; }
    .seccion-delicias main .seccionMenu .menuDelicias {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      margin-right: none;
      margin-left: none;
      text-align: center;
      display: block;
      list-style: none; }
      .seccion-delicias main .seccionMenu .menuDelicias li {
        padding: 0.2em; }
        .seccion-delicias main .seccionMenu .menuDelicias li a {
          font-family: "Thasadith" sans-serif;
          font-size: 1.7em;
          text-align: center;
          padding: 0.2em;
          color: #413841;
          text-decoration: none;
          font-weight: 500; }
          .seccion-delicias main .seccionMenu .menuDelicias li a:hover {
            background-color: #E79E85;
            color: #ffffff;
            padding: 0.2em;
            border-radius: 0.2em;
            font-weight: 500;
            transition: all 1s ease; }
  .seccion-delicias main .section-productos {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 1em;
    margin-left: 1em;
    font-weight: bold;
    background-image: url(/imagenes/tic-tac-toe.png);
    padding: 1em; }
    .seccion-delicias main .section-productos div .titulo-producto {
      background-color: #E79E85;
      color: #ffffff;
      padding: 0.5em;
      border-radius: 0.2em;
      font-family: none;
      font-size: 2.5em;
      text-align: center;
      font-family: 'Caveat', cursive; }
    .seccion-delicias main .section-productos .productos-contenedor {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; }
      .seccion-delicias main .section-productos .productos-contenedor .card-div {
        width: 18.75em;
        height: auto;
        text-align: center;
        background-color: #F2E9D0;
        margin: 1em;
        border: 2px solid #E79E85; }
        .seccion-delicias main .section-productos .productos-contenedor .card-div img {
          width: 18.188em;
          height: 18.188em;
          padding: 0.2em;
          margin-top: 0.2em;
          transition: 2s all ease; }
          .seccion-delicias main .section-productos .productos-contenedor .card-div img:hover {
            transform: scale(1.1, 1.1); }
        .seccion-delicias main .section-productos .productos-contenedor .card-div h3 {
          background-color: #E79E85;
          color: #ffffff;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-right: none;
          margin-left: none;
          font-family: 'Caveat', cursive;
          font-size: 2em;
          padding: 0.2em; }
        .seccion-delicias main .section-productos .productos-contenedor .card-div ul {
          text-align: center;
          background-color: #ffffff;
          list-style: none; }
          .seccion-delicias main .section-productos .productos-contenedor .card-div ul li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-right: 2em;
            margin-left: none;
            padding: 0.2em; }
        .seccion-delicias main .section-productos .productos-contenedor .card-div .card-pedidos {
          margin-top: 1em;
          margin-bottom: 1em;
          margin-right: none;
          margin-left: none; }
          .seccion-delicias main .section-productos .productos-contenedor .card-div .card-pedidos .link-pedido {
            color: #E79E85;
            text-decoration: none;
            padding: 1.2em; }
            .seccion-delicias main .section-productos .productos-contenedor .card-div .card-pedidos .link-pedido:hover {
              color: black; }

/*Boton arriba*/
.boton-arriba {
  margin-top: none;
  margin-bottom: 1.8em;
  margin-right: 1.8em;
  margin-left: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 1; }
  .boton-arriba button {
    padding: 0.5em;
    border-radius: 1em;
    background-color: #E79E85; }
    .boton-arriba button:hover {
      opacity: 0.7;
      transition: all 1s ease; }
    .boton-arriba button .img-flecha {
      width: 1.563em;
      height: 1.563em; }

/*PAGINA HACE TU PEDIDO*/
/*MAIN*/
.cuerpo {
  background-color: #F2E9D0;
  color: black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em; }
  .cuerpo .pedidoOnline {
    background-color: #E79E85;
    color: #ffffff;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    padding: 0.8em;
    font-size: 2em; }
  .cuerpo form .div-input {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    .cuerpo form .div-input .nombreFormu {
      padding: 0.313em;
      font-family: 'Thasadith', sans-serif;
      font-weight: bold; }
  .cuerpo form div .tituloFavorito {
    margin-top: 1em;
    text-decoration: underline;
    font-size: 1.7em;
    font-family: 'Thasadith', sans-serif; }
  .cuerpo form div .opcion-torta {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center; }
    .cuerpo form div .opcion-torta .opciones {
      display: block;
      padding: 1em; }
      .cuerpo form div .opcion-torta .opciones .nobreFormu2 {
        font-family: 'Caveat', cursive; }
    .cuerpo form div .opcion-torta .opciones2 {
      display: inline-block; }
  .cuerpo form .envio {
    margin-top: 2em; }
  .cuerpo form .envio-nov {
    margin-top: 1em;
    margin-bottom: 1em; }
    .cuerpo form .envio-nov .envio-si {
      display: block;
      margin-top: 2em;
      font-size: 1em; }
  .cuerpo form .botones-limp-env {
    margin: 1em; }
    .cuerpo form .botones-limp-env .limpiar {
      background-color: #E79E85;
      color: #ffffff;
      padding: 0.2em;
      transition: all 1s ease; }
      .cuerpo form .botones-limp-env .limpiar:hover {
        background-color: #ffffff;
        color: black; }

/*PAGINA INFORMACION*/
main .titulo-informacion {
  background-color: #E79E85;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1.3em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 2em;
  text-align: center;
  font-weight: none;
  font-family: "Thasadith";
  border-radius: 0.5em;
  padding: 0.8em; }

main .seccion-info {
  padding: 1em;
  border-radius: none;
  background-color: #F2E9D0;
  color: black;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: none;
  margin-left: none;
  font-family: 'Thasadith', sans-serif;
  border-radius: 0.2em; }
  main .seccion-info .pedidos {
    padding: 1em;
    border-radius: none; }
    main .seccion-info .pedidos h2 {
      background-color: #ffffff;
      color: #e08465;
      padding: 0.3em;
      border-radius: 0.5em;
      font-size: 2em;
      text-align: center;
      font-weight: bolder;
      font-family: "Thasadith" sans-serif; }
    main .seccion-info .pedidos div .pedidos-titulo {
      padding: 0.5em;
      border-radius: 0.1em;
      border-top: 0.063em solid black;
      border-bottom: 0.063emsolid black;
      color: #e08465;
      text-align: center;
      font-size: 1.4em; }
      main .seccion-info .pedidos div .pedidos-titulo a {
        color: black; }
        main .seccion-info .pedidos div .pedidos-titulo a:hover {
          color: #e08465; }
    main .seccion-info .pedidos div ul {
      list-style: none; }
      main .seccion-info .pedidos div ul li {
        text-align: center; }
    main .seccion-info .pedidos .enlace-web a {
      color: black; }
      main .seccion-info .pedidos .enlace-web a:hover {
        color: #e08465; }
    main .seccion-info .pedidos .alerta {
      background-color: #ffffff;
      color: #e08465;
      font-size: 1.3em;
      text-align: center;
      font-weight: bolder;
      font-family: "Thasadith" sans-serif;
      margin-top: 2.5em;
      border: 1px solid #e08465; }
  main .seccion-info .columna-2 {
    text-align: center;
    padding: 1em; }
    main .seccion-info .columna-2 .medio-entrega {
      padding: 0.3em;
      border-radius: 0.5em;
      background-color: #ffffff;
      color: #e08465;
      font-size: 2em;
      text-align: center;
      font-weight: bolder;
      font-family: "Thasadith" sans-serif; }
    main .seccion-info .columna-2 div h3 {
      font-size: 1em;
      font-weight: bold; }
    main .seccion-info .columna-2 div ul {
      list-style: none; }

main .info-importante {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: none;
  margin-left: none;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family: "Thasadith";
  line-height: 2em;
  padding: 4em;
  border-radius: 0.2em;
  background-color: #F2E9D0; }
  main .info-importante .importante {
    background-color: #ffffff;
    color: #e08465;
    padding: 0.3em;
    border-radius: 0.5em;
    font-weight: bolder;
    font-size: 2em; }
  main .info-importante p {
    margin-top: 2em; }

main .seccion-contenido {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: none;
  margin-left: none; }
  main .seccion-contenido .conoce2 {
    font-family: 'Thasadith', sans-serif; }
    main .seccion-contenido .conoce2 h4 {
      font-size: 2em; }
    main .seccion-contenido .conoce2 p {
      font-size: 1em;
      text-align: none;
      font-weight: bold;
      font-family: "Thasadith" sans-serif;
      line-height: 1.8em; }
  main .seccion-contenido .imagenes-delicias .div-img-delicias a {
    text-decoration: none;
    font-size: 1.6em;
    padding: 0.2em;
    color: #ffffff;
    font-family: 'Caveat', cursive; }
    main .seccion-contenido .imagenes-delicias .div-img-delicias a:hover {
      background-color: #ffffff;
      color: #e08465;
      margin-top: none;
      margin-bottom: none;
      margin-right: 0.3em;
      margin-left: 0.3em;
      padding: 0.2em;
      border-radius: 0.2em; }
  main .seccion-contenido .imagenes-delicias .div-img-delicias .tort2 {
    padding: 0.4em;
    border-radius: 0.7em;
    width: 12.531em;
    height: 12.531em; }
    main .seccion-contenido .imagenes-delicias .div-img-delicias .tort2:hover {
      opacity: 0.9; }

main .menu {
  padding: 0.7em;
  border-radius: 0.5em;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: 2em;
  margin-left: 2em;
  background-image: url(/imagenes/tic-tac-toe.png); }
  main .menu .menuTitulo {
    background-color: #E79E85;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 2.2em;
    text-align: center;
    font-weight: none;
    font-family: "Caveat"; }
  main .menu .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .menu .flex-container div {
      padding: 2em;
      border-radius: 1em;
      width: 18.75em;
      margin: 1.2em;
      background-color: #F2E9D0;
      border: 3px solid #e08465; }
      main .menu .flex-container div h3 {
        background-color: #ffffff;
        color: #e08465;
        padding: 0.5em;
        border-radius: 0.5em;
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
        font-family: "Caveat"; }
      main .menu .flex-container div ul {
        padding: 1em;
        border-radius: none;
        font-size: 1em;
        list-style: circle;
        list-style-position: inside;
        font-weight: bold; }
        main .menu .flex-container div ul li {
          text-align: left;
          padding: 0.6em;
          font-family: 'Thasadith', sans-serif; }
  main .menu .boton2 {
    text-align: center; }
    main .menu .boton2 a {
      font-family: 'Thasadith', sans-serif; }

main .img-g {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: 2em;
  margin-left: 2em;
  background-image: url(/imagenes/tic-tac-toe.png);
  padding: 0.8em; }
  main .img-g h2 {
    background-color: #E79E85;
    color: #ffffff;
    font-size: 2.2em;
    text-align: left;
    font-weight: none;
    font-family: "Caveat";
    padding: 0.5em;
    border-radius: 0.2em; }
  main .img-g .img-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .img-g .img-info .img-img {
      width: 18.75em;
      height: 18.75em;
      border-radius: 1em;
      margin: 0.5em;
      opacity: 0.8;
      transition: 1s all ease; }
      main .img-g .img-info .img-img:hover {
        opacity: 1;
        transform: scale(1.1, 1.1); }

/*PAGINA QUIENES SOMOS*/
.main {
  background-color: #F2E9D0;
  color: black;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  margin: 2em; }
  .main .titulo-quien {
    background-color: #E79E85;
    color: #ffffff;
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 0.8em;
    line-height: none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; }
  .main .contenedor {
    margin: 0.5em; }
    .main .contenedor .textoLargo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 1em;
      margin: 0.5em; }
      .main .contenedor .textoLargo .alexiaImg img {
        width: 37.5em;
        height: auto;
        margin-top: 0.5em;
        border-radius: 0.3em; }
      .main .contenedor .textoLargo .historia1 {
        margin-left: 0.5em;
        margin-right: 0.5em; }
        .main .contenedor .textoLargo .historia1 p {
          font-family: 'Thasadith', sans-serif;
          text-align: justify;
          font-size: 1.2em;
          padding: none;
          line-height: 2em;
          margin-left: 0.5em;
          margin-right: 0.5em;
          margin-top: 2.5em; }
    .main .contenedor .historia2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 1em; }
      .main .contenedor .historia2 div p {
        font-family: 'Thasadith', sans-serif;
        text-align: justify;
        font-size: 1.2em;
        padding: 2em;
        line-height: 2em;
        color: #0e090a; }
      .main .contenedor .historia2 img {
        width: 18.75em;
        height: 18.75em;
        border-radius: 50em; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* PAGINA INDEX */
/*HEADER*/
header {
  margin-bottom: 1em; }
  header .header-nav {
    padding-right: 0; }
    header .header-nav a .logo {
      width: 7em;
      height: auto; }
    header .header-nav div .menuPrincipal {
      background-color: #E79E85;
      font-family: 'Thasadith', sans-serif;
      color: #ffffff;
      border-bottom-left-radius: 1em;
      border-top-left-radius: 1em;
      padding: 1em; }
      header .header-nav div .menuPrincipal li {
        margin-right: 1em;
        margin-left: 1em; }
        header .header-nav div .menuPrincipal li a {
          text-align: center;
          font-size: 1.5em;
          padding: none;
          color: #ffffff;
          transition: all 1s ease;
          text-decoration: none; }
          header .header-nav div .menuPrincipal li a:hover {
            background-color: #ffffff;
            font-weight: bold;
            color: #E79E85;
            border-radius: 0.313em;
            padding: 0.5em; }
          header .header-nav div .menuPrincipal li a:active {
            color: #0e0b0e; }

.contenedor-principal div h3 {
  margin-right: 9em;
  margin-left: 9em;
  text-align: center;
  font-size: 2em;
  padding: 0.1em;
  font-family: 'Thasadith', sans-serif;
  color: #ffffff;
  background-color: rgba(224, 133, 103, 0.596);
  border-radius: 0.2em; }

.contenedor-principal div .titulo-cheese {
  margin-right: 5.5em;
  margin-left: 5.5em; }

.contenedor-principal div .titulo-choco {
  margin-right: 4.5em;
  margin-left: 4.5em; }

.contenedor-principal div p {
  font-size: 1.3em; }

.contenedor-principal div .boton2 {
  background-color: #ffffff;
  border: 0.063em solid #e08465; }
  .contenedor-principal div .boton2:hover {
    background-color: #e08465; }
  .contenedor-principal div .boton2 a {
    text-decoration: none;
    color: #e08465;
    font-weight: 500; }
    .contenedor-principal div .boton2 a:hover {
      color: #ffffff; }

.botonesPrincipales {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1.8em;
  margin-bottom: 1.8em;
  z-index: 100; }
  .botonesPrincipales .foto-whatsapp {
    width: 3em;
    height: 3em; }
    .botonesPrincipales .foto-whatsapp:hover {
      opacity: 0.8; }

/*SECCIONES*/
/*SECTION 1*/
.section1 {
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 10em;
  margin-bottom: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 0.125em solid #e08465;
  border-bottom: 0.125em solid #e08465;
  padding: 3em;
  align-items: center; }
  .section1 .aliveri {
    text-align: center;
    font-size: 4.5em;
    padding: 0.2em;
    color: #e08465;
    font-family: 'Sofia', cursive; }
  .section1 .presentacion {
    text-align: center;
    font-size: 1.3em;
    padding: 1.5em;
    line-height: 2.5em; }

.boton {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #E79E85;
  font-family: 'Thasadith', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }
  .boton:hover {
    background-color: #ffffff;
    border: 1px solid #E79E85; }
  .boton a {
    color: #ffffff;
    text-decoration: none; }
    .boton a:hover {
      color: #e08465;
      font-weight: bolder; }

/*SECTION 2: DESTACADOS*/
.section2 {
  background-color: #FFD3B6;
  font-family: 'Thasadith', sans-serif;
  color: black;
  margin-top: 10em;
  margin-bottom: 10em; }
  .section2 .destacado-title {
    background-color: #E79E85;
    font-family: 'Thasadith', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 2.4em;
    padding: 0.5em;
    font-family: 'Thasadith', sans-serif; }
  .section2 .boton-ver {
    text-align: center; }
  .section2 .divs-destacados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .section2 .divs-destacados .imagen-destacada1 {
      background-color: #FFE8CF;
      font-family: 'Thasadith', sans-serif;
      color: black;
      width: 18em;
      height: 24.063em;
      border: 1px #E79E85 solid;
      margin: 0.2em;
      text-align: center; }
      .section2 .divs-destacados .imagen-destacada1 img {
        width: 17.875em;
        height: 16.875em;
        padding: 0.3em;
        transition: all 1s ease; }
        .section2 .divs-destacados .imagen-destacada1 img:hover {
          opacity: 0.8; }
      .section2 .divs-destacados .imagen-destacada1 .card-title {
        margin-right: 0.2em;
        margin-left: 0.2em;
        background-color: #E79E85;
        font-family: 'Thasadith', sans-serif;
        color: #ffffff;
        text-align: none;
        font-size: 1.2em;
        padding: 0.2em;
        border-radius: 0.5em;
        margin-top: 1em; }
      .section2 .divs-destacados .imagen-destacada1 .boton-hace-tu-pedido {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: 'Thasadith', sans-serif;
        color: #e08465;
        border: 0.063em solid #E79E85;
        font-weight: bolder; }
        .section2 .divs-destacados .imagen-destacada1 .boton-hace-tu-pedido:hover {
          background-color: #E79E85;
          font-family: 'Thasadith', sans-serif;
          color: #ffffff; }

/* SECCION PEDIDO/MEDIO DE PAGO*/
.flex-padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 2em;
  text-align: center; }
  .flex-padre div {
    padding: 1em; }
    .flex-padre div .flex-image {
      width: 3.75em;
      height: 3.75em; }
    .flex-padre div h4 {
      margin-top: 0.625em;
      font-family: 'Thasadith', sans-serif;
      font-size: 1.4em; }

/*SECCION CONOCE NUESTRAS DELICIAS*/
.seccion-contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #E79E85;
  font-family: 'Thasadith', sans-serif;
  color: #ffffff;
  margin-top: 10em;
  margin-bottom: 10em;
  padding: 2em; }
  .seccion-contenido .conoce-delicias {
    font-family: 'Thasadith', sans-serif; }
    .seccion-contenido .conoce-delicias h5 {
      color: #ffffff; }
    .seccion-contenido .conoce-delicias p {
      font-size: 1em;
      color: black; }
  .seccion-contenido .imagenes-delicias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .seccion-contenido .imagenes-delicias .div-img-delicias {
      width: 12.531em;
      height: auto;
      margin-right: 0.5em;
      margin-left: 0.5em; }
      .seccion-contenido .imagenes-delicias .div-img-delicias .tort {
        width: 13.156em;
        height: 13.156em;
        padding: 0.4em;
        border-radius: 0.7em;
        opacity: 1; }
        .seccion-contenido .imagenes-delicias .div-img-delicias .tort:hover {
          opacity: 0.8; }

/*SECTION 3*: CLIENTES*/
.section3 {
  background-color: #FFE8CF;
  font-family: 'Thasadith', sans-serif;
  color: black;
  margin-top: 10em;
  margin-bottom: 10em;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold; }
  .section3 .tituloCliente {
    background-color: #E79E85;
    font-family: 'Thasadith', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 2.4em;
    padding: 0.5em; }
  .section3 .clientes-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Thasadith', sans-serif; }
    .section3 .clientes-divs .card-cliente {
      width: 12em;
      height: auto;
      background-color: #ffffff;
      color: black;
      margin: 2em;
      text-align: center; }
      .section3 .clientes-divs .card-cliente .cliente {
        width: 12em;
        height: auto;
        padding: 0.8em; }
      .section3 .clientes-divs .card-cliente h5 {
        background-color: #E79E85;
        font-family: 'Thasadith', sans-serif;
        color: #ffffff;
        text-align: none;
        font-size: 1.4em;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.2em; }
      .section3 .clientes-divs .card-cliente p {
        text-align: center;
        padding: 0.5em; }

/*FOOTER*/
footer {
  background-color: #E79E85;
  font-family: 'Thasadith', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Thasadith', sans-serif;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  font-size: 1em;
  font-weight: 400; }
  footer .menuFinal ul {
    list-style: none; }
  footer .menuFinal a {
    color: #ffffff;
    font-family: 'Thasadith', sans-serif;
    text-align: justify;
    text-decoration: none; }
    footer .menuFinal a:hover {
      text-decoration: underline; }
    footer .menuFinal a:active {
      color: black; }
  footer div h5 {
    font-weight: 400; }
  footer .logoFinal {
    width: 7.5em;
    height: 7.5em; }
  footer .tamaño {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1rem;
    opacity: 0.6; }
    footer .tamaño:hover {
      margin-right: 1rem;
      opacity: 1; }

/*MEDIA QUERIES*/
/*Mobile*/
@media (max-width: 480px) {
  header {
    text-align: center; }
    header .header-nav {
      padding-right: 0.75em; }
      header .header-nav div .menuPrincipal {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em; }
        header .header-nav div .menuPrincipal li a {
          font-size: 1.5em; }
  .section1 {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 6em;
    margin-bottom: 6em; }
    .section1 .aliveri {
      font-size: 3rem; }
    .section1 .presentacion {
      text-align: center;
      font-size: 0.9em;
      padding: 0;
      display: block; }
  .section2 {
    margin-top: 6em;
    margin-bottom: 6em; }
  .flex-padre {
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 0.9em;
    padding: 1em; }
  .seccion-contenido {
    margin-top: 6em;
    margin-bottom: 6em;
    text-align: center; }
    .seccion-contenido .conoce-delicias h5 {
      font-size: 1.8em; }
    .seccion-contenido .conoce-delicias p {
      margin-top: 2em; }
  .section3 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section3 .clientes-divs .card-cliente {
      width: 19em; }
  footer {
    display: block;
    text-align: center; }
    footer .menuFinal nav ul li a {
      text-align: center;
      margin-right: 2em;
      font-size: 1.3em; }
    footer div a .logoFinal {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      width: 8em;
      height: 8em; }
    footer div a .tamaño {
      margin-top: 1em;
      width: 2em;
      height: 2em; }
  .galeria-imagenes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .galeria-imagenes div img {
      width: 19em;
      height: 19em; }
  .main .contenedor .textoLargo {
    flex-wrap: wrap; }
    .main .contenedor .textoLargo .alexiaImg img {
      max-width: 100%; }
    .main .contenedor .textoLargo .historia1 p {
      font-size: 1.3em;
      line-height: 1.9em; }
  .main .contenedor .historia2 {
    flex-wrap: wrap; }
    .main .contenedor .historia2 div p {
      text-align: justify;
      font-size: 1.3em;
      padding: 1em;
      font-family: 'Thasadith', sans-serif;
      line-height: 1.8em; }
    .main .contenedor .historia2 img {
      max-width: 100%; }
  .cuerpo {
    padding: 1em; }
    .cuerpo form .div-input {
      display: block; }
      .cuerpo form .div-input .nombreFormu {
        display: block; }
  main .seccion-contenido .conoce2 {
    text-align: center; } }

@media (min-width: 480px) and (max-width: 800px) {
  header {
    text-align: center;
    background-color: #ffffff; }
    header .header-nav {
      padding-right: 0.75rem; }
      header .header-nav div .menuPrincipal {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em; }
        header .header-nav div .menuPrincipal li a {
          font-size: 1.9em; }
  .contenedor-principal div h3 {
    margin-right: 4.5em;
    margin-left: 4.5em; }
  .contenedor-principal div .titulo-cheese {
    margin-right: 1em;
    margin-left: 1em; }
  .contenedor-principal div .titulo-choco {
    margin-right: 0.5em;
    margin-left: 0.5em; }
  .contenedor-principal div p {
    font-size: 1.2em; }
  .section1 {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 6em;
    margin-bottom: 6em; }
    .section1 .aliveri {
      font-size: 3em; }
    .section1 .presentacion {
      text-align: center;
      font-size: 0.9em;
      padding: 0;
      display: block; }
  .section2 {
    margin-top: 6em;
    margin-bottom: 6em; }
  .flex-padre {
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 0.9em;
    padding: 1em; }
  .seccion-contenido {
    margin-bottom: 6em;
    text-align: center; }
    .seccion-contenido .conoce-delicias h5 {
      margin-top: 1em;
      margin-bottom: 1em; }
  .section3 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section3 .clientes-divs .card-cliente {
      width: 20em; }
  footer {
    display: block;
    text-align: center; }
    footer .menuFinal nav ul li a {
      text-align: center;
      margin-right: 2em;
      font-size: 1.5em; }
    footer div a .logoFinal {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      width: 8em;
      height: 8em; }
    footer div a .tamaño {
      margin-top: 1em;
      width: 2em;
      height: 2em; }
  .galeria-imagenes {
    display: flex;
    flex-wrap: wrap; }
    .galeria-imagenes div {
      padding: 1em; }
      .galeria-imagenes div img {
        width: 26em;
        height: 26em; }
  .cuerpo form .div-input {
    display: block; }
  .main .contenedor .textoLargo {
    flex-wrap: wrap; }
    .main .contenedor .textoLargo .alexiaImg img {
      max-width: 100%; }
    .main .contenedor .textoLargo .historia1 {
      margin-right: 0.5em;
      margin-left: 0.5em; }
      .main .contenedor .textoLargo .historia1 p {
        font-size: 1.3em;
        line-height: 1.9em; }
  .main .contenedor .historia2 {
    flex-wrap: wrap; }
    .main .contenedor .historia2 div p {
      font-size: 1.3em;
      line-height: 1.8em;
      padding: 1em; }
  main .seccion-contenido .conoce2 {
    text-align: center; } }

@media (min-width: 801px) and (max-width: 992px) {
  header {
    text-align: center;
    background-color: #ffffff; }
    header .header-nav {
      padding-right: 0.75em; }
      header .header-nav div .menuPrincipal {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em; }
        header .header-nav div .menuPrincipal li a {
          font-size: 1.9em; }
  .contenedor-principal div h3 {
    margin-right: 4.5em;
    margin-left: 4.5em; }
  .contenedor-principal div .titulo-cheese {
    margin-right: 1em;
    margin-left: 1em; }
  .contenedor-principal div .titulo-choco {
    margin-right: 0.5em;
    margin-left: 0.5em; }
  .section1 {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-right: 1em;
    margin-left: 1em; }
    .section1 .aliveri {
      font-size: 3em; }
    .section1 .presentacion {
      text-align: center;
      font-size: 0.9em;
      padding: 0;
      display: block; }
  .section2 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section2 .divs-destacados .imagen-destacada1 {
      width: 14em;
      height: 18em; }
      .section2 .divs-destacados .imagen-destacada1 img {
        width: 12em;
        height: 12em;
        margin-top: 0.5em; }
      .section2 .divs-destacados .imagen-destacada1 .card-title {
        text-align: none;
        font-size: 1em;
        padding: 0.2em;
        margin-top: 0.5em; }
  .flex-padre {
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 0.8em;
    padding: 1em; }
  .seccion-contenido {
    margin-bottom: 6em;
    text-align: center; }
    .seccion-contenido .conoce-delicias h5 {
      margin-top: 1em;
      margin-bottom: 1em; }
  .section3 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section3 .clientes-divs .card-cliente {
      width: 18.75em; }
  .main .contenedor .textoLargo {
    flex-wrap: wrap; }
    .main .contenedor .textoLargo .alexiaImg img {
      max-width: 100%; }
    .main .contenedor .textoLargo .historia1 {
      margin-right: 0.5em;
      margin-left: 0.5em; }
      .main .contenedor .textoLargo .historia1 p {
        font-size: 1.3em;
        line-height: 1.9em; }
    .main .contenedor .textoLargo .historia2 div p {
      font-size: 1.3em;
      padding: 1em; } }

@media (min-width: 992px) and (max-width: 1200px) {
  header {
    text-align: center; }
    header .header-nav div .menuPrincipal li a {
      font-size: 1.4em; }
  .contenedor-principal div h3 {
    margin-right: 7em;
    margin-left: 7em; }
  .contenedor-principal div .titulo-cheese {
    margin-right: 3.5em;
    margin-left: 3.5em; }
  .contenedor-principal div .titulo-choco {
    margin-right: 3em;
    margin-left: 3em; }
  .section1 {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-right: 1em;
    margin-left: 1em; }
    .section1 .aliveri {
      font-size: 3em; }
    .section1 .presentacion {
      text-align: center;
      font-size: 0.9em;
      padding: 0;
      display: block; }
  .section2 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section2 .divs-destacados .imagen-destacada1 {
      width: 14em;
      height: 18em; }
      .section2 .divs-destacados .imagen-destacada1 img {
        width: 12em;
        height: 12em;
        margin-top: 0.5em; }
      .section2 .divs-destacados .imagen-destacada1 .card-title {
        text-align: none;
        font-size: 1em;
        padding: 0.2em;
        margin-top: 0.5em; }
  .flex-padre {
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: 0.8em;
    padding: 1em; }
  .seccion-contenido {
    margin-bottom: 6em;
    text-align: center; }
    .seccion-contenido .conoce-delicias {
      margin-top: 2em;
      padding: 1em; }
      .seccion-contenido .conoce-delicias h5 {
        margin-top: 1em;
        margin-bottom: 1em; }
  .section3 {
    margin-top: 6em;
    margin-bottom: 6em; }
    .section3 .clientes-divs .card-cliente {
      width: 10em; }
      .section3 .clientes-divs .card-cliente .cliente {
        width: 9em;
        height: 9em; }
  .main .contenedor .textoLargo {
    flex-wrap: wrap; }
    .main .contenedor .textoLargo .alexiaImg img {
      max-width: 100%; }
    .main .contenedor .textoLargo .historia1 {
      margin-right: 0.5em;
      margin-left: 0.5em; }
      .main .contenedor .textoLargo .historia1 p {
        font-size: 1.5em;
        line-height: 1.9em; }
    .main .contenedor .textoLargo .historia2 div p {
      font-size: 1.5em;
      padding: 1em; } }
