@import "colores";
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        color: black;
    }
        @else if $color == $colorfooter{
            color: $colortitulo;
        }
            @else if $color == $colortitulo{
                color: $coloraliveri;
            }
                @else{
                    color: black;
                }
}
@mixin flex ($justify){
    display: flex;
    flex-direction: row;
    justify-content: $justify    
}
@mixin margin($topp, $bott, $rightt, $leftt) {
    margin-top: $topp;
    margin-bottom: $bott;
    margin-right: $rightt;
    margin-left: $leftt;
}
@mixin pad-br ($paddings, $radius){
    padding: $paddings;
    border-radius: $radius;
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
@mixin fonts($family, $size, $align) {
    font-family: $family;
    font-size: $size;
    text-align: $align;
}
/*PAGINA DOS: DELICIAS*/
.seccion-delicias{
    font-family:'Thasadith', sans-serif;
    main{
        .titulo-delicias{
            @include background($colorfooter);
            @include margin(1em,1em ,1em ,1em );
            @include pad-br(0.8em,0.5em );
            text-align: center;
            font-size: 2em;
        }
        .galeria{
            .galeria-imagenes{
                @include flex(space-around);
                @include margin(1em,1em ,none ,none );
                div{
                    @include flex(space-around);
                    .imagen-g{
                        @include pad-br(1em,0.2em );
                        max-width: 100%;
                        max-height: auto;
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                }              
            }
        }
        .seccionMenu{
            @include margin(5em,5em ,none ,none );
            @include pad-br(2em,1em );
            background-image: url(/imagenes/tic-tac-toe.png);
            border: 2px solid $colorfooter;
            .delicias{
                @include background($colorfooter);
                @include pad-br(0.5em,0.2em );
                @include fonts('Caveat' cursive,2em ,center );
            }
            .contenedor-menu{
                @include flex(center);
                flex-wrap: wrap;
            }
            .menuDelicias{
                @include margin(1.5em,1.5em ,none ,none);
                text-align:center;
                display: block;
                list-style: none;
                li{
                    padding: 0.2em;
                    a{
                        @include fonts('Thasadith' sans-serif,1.7em ,center );
                        padding: 0.2em;
                        color: rgb(65, 56, 65);
                        text-decoration: none;
                        font-weight:500;
                        &:hover{
                            @include background($colorfooter);
                            @include pad-br(0.2em,0.2em );
                            font-weight: 500;
                            transition: all 1s ease;
                        }
                    }
                }  
            }       
        }
        .section-productos{
            @include margin(5em,5em ,1em ,1em );
            font-weight: bold;
            background-image: url(/imagenes/tic-tac-toe.png);
            padding: 1em;
            div{
                .titulo-producto{
                    @include background($colorfooter);
                    @include pad-br(0.5em, 0.2em );
                    @include fonts(none,2.5em ,center );
                    font-family: 'Caveat', cursive;
                }
            }
            .productos-contenedor{
                @include flex(space-around);
                flex-wrap: wrap;
                .card-div{
                    @include sizes(18.75em, auto );
                    text-align: center;
                    background-color: $colorheader;
                    margin: 1em;
                    border: 2px solid $colorfooter;
                    img{
                        @include sizes(18.188em, 18.188em );
                        margin-top: 0.2em;
                        transition: 1s all ease;
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                    h3{
                        @include background($colorfooter);
                        @include margin(1em,1em ,none , none);
                        font-family: 'Caveat', cursive;
                        font-size: 2em;
                        padding: 0.2em;
                    }                  
                    ul{
                        text-align: center;
                        background-color: $colortitulo;
                        list-style: none;
                        li{
                            @include margin(0.5em,0.5em ,2em ,none );
                            padding: 0.2em;
                        }
                    }
                    .card-pedidos{
                        @include margin(1em,1em ,none ,none );
                        .link-pedido{
                            color: $colorfooter;
                            padding: 1.2em;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}                          
                /*Boton arriba*/
.boton-arriba{
    @include margin(none,1.8em ,1.8em,none );
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 100;
    opacity: 1;
    button{
        @include pad-br(0.5em,1em );
        background-color: $colorfooter;
        &:hover{
            opacity: 0.7;
            transition: all 1s ease;
        }
        .img-flecha{
            @include sizes(1.563em,1.563em );
        }
    }
}               