@import "colores";
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        color: black;
    }
        @else if $color == $colorprincipal{
            color: black;
        }
            @else if $color == $colorfooter{
                color: $colortitulo;
            }
            @else if $color == $colordestacado{
                color: black;
            }
                @else if $color == $clientes{
                    color: black;
                }
                    @else{
                        color: black;
                    }
}
/*PAGINA DOS: DELICIAS*/
.seccion-delicias{
    font-family:'Thasadith', sans-serif;
    main{
        .titulo-delicias{
            text-align: center;
            font-size: 2em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 1em;
            margin-right: 1em;
            border-radius: 0.5em;
            background-color: $colorfooter;
            color: $colortitulo;
            padding: 0.8em;
        }
        .galeria{
            .galeria-imagenes{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 1em;
                margin-bottom: 1em;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .imagen-g{
                        max-width: 100%;
                        max-height: auto;
                        padding: 1em;
                        border-radius: 0.2em;
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                }              
            }
        }
        .seccionMenu{
            background-image: url(/imagenes/tic-tac-toe.png);
            margin-top: 5em;
            margin-bottom: 5em;
            border-radius: 1em;
            padding: 2em;
            border: 2px solid $colorfooter;
            .delicias{
                border-radius: 0.2em;
                text-align: center;
                font-family: 'Caveat', cursive;
                background-color: $colorfooter;
                color: $colortitulo;
                font-size: 2em;
                padding: 0.5em;
            }
            .contenedor-menu{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }
            .menuDelicias{
                text-align:center;
                display: block;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                list-style: none;
                li{
                    padding: 0.2em;
                    a{
                        padding: 0.2em;
                        text-align: center;
                        color: rgb(65, 56, 65);
                        font-family: 'Thasadith', sans-serif;
                        font-size: 1.7em;
                        text-decoration: none;
                        font-weight:500;
                        &:hover{
                            background-color: $colorfooter;
                            color: $colortitulo;
                            font-weight: 500;
                            padding: 0.2em;
                            border-radius: 0.2em;
                            transition: all 1s ease;
                        }
                    }
                }
                
            }       
        }
        .section-productos{
            font-weight: bold;
            background-image: url(/imagenes/tic-tac-toe.png);
            margin-top: 5em;
            margin-bottom:5em;
            margin-right: 1em;
            margin-left: 1em;
            padding: 1em;
            div{
                .titulo-producto{
                    text-align:center;
                    padding: 0.5em;
                    background-color: $colorfooter;
                    border-radius: 0.2em;
                    color: $colortitulo;
                    font-family: 'Caveat', cursive;
                    font-size: 2.5em;
                }
            }
            .productos-contenedor{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .card-div{
                    text-align: center;
                    background-color: $colorheader;
                    margin: 1em;
                    width: 300px;
                    height: 500px;
                    height: auto;
                    border: 2px solid $colorfooter;
                    h3{
                        margin-top: 1em;
                        margin-bottom: 1em;
                        font-family: 'Caveat', cursive;
                        font-size: 2em;
                        padding: 0.2em;
                        background-color: $colorfooter;
                        color: $colortitulo;
                    }
                    ul{
                        text-align: center;
                        background-color: $colortitulo;
                        list-style: none;
                        li{
                            margin-right: 2em;
                            margin-top: 0.5em;
                            margin-bottom: 0.5em;
                            padding: 0.2em;
                           
                            
                        }
                    }
                    img{
                        padding: 0.2em;
                        margin-top: 0.2em;
                        width: 291px;
                        height: 291px;
                        transition: 2s all ease;
                        &:hover{
                            transform: scale(1.1,1.1);
                        }
                    }
                    .card-pedidos{
                        margin-top: 1em;
                        margin-bottom: 1em;
                        .link-pedido{
                            color: $colorfooter;
                            text-decoration: none;
                            padding: 1.2em;
                            &:hover{
                            
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}                          
                /*Boton arriba*/
.boton-arriba{
    position: fixed;
    bottom:0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    z-index: 100;
    opacity: 1;
    button{
        background-color: $colorfooter;
        border-radius: 1em;
        padding: 0.5em;
        &:hover{
            opacity: 0.7;
            transition: all 1s ease;
        }
        .img-flecha{
            width: 20px;
            height: 20px;
        }
    }
}               