@import "colores";
@mixin pb ($padding, $radius) {
    padding: $padding;
    border-radius: $radius;  
}
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        color: black;
    }
        @else if $color == $colorfooter{
            color: $colortitulo;
        }
            @else if $color ==$colortitulo{
                color: $coloraliveri;
            }
                @else{
                    color: black;
                }
}
@mixin margin ($top, $bottom, $right, $left){
    margin-top: $top;
    margin-bottom: $bottom;
    margin-right: $right;
    margin-left: $left;
}
@mixin  flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}
@mixin fonts ($sizes, $align, $weight, $family) {
    font-size: $sizes;
    text-align: $align;
    font-weight: $weight;
    font-family: $family;
}
/*PAGINA INFORMACION*/
main{
    .titulo-informacion{
        @include background($colorfooter);
        @include margin(1em, 1.3em , 1em , 1em);
        @include fonts(2em , center , none ,'Thasadith', sans-serif );
        border-radius: 0.5em;
        padding: 0.8em;
    }
    .seccion-info{
        @include pb(1em, none );
        @include background($colorheader);
        @include margin(2em, 2em  ,none ,none );
        font-family: 'Thasadith', sans-serif;
        border-radius: 0.2em;
        .pedidos{
            @include pb(1em, none );
            h2{
                @include background($colortitulo);
                @include pb(0.3em,0.5em);
                @include fonts(2em,center ,bolder ,'Thasadith', sans-serif );
            }
            div{
                .pedidos-titulo{
                    @include pb(0.5em, 0.1em);            
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    color: $coloraliveri;
                    text-align: center;
                    font-size: 1.4em;
                    a{
                        color: black;
                        &:hover{
                            color: $coloraliveri;
                        }
                    }
                }
                ul{
                    list-style: none;
                    li{
                        text-align: center;
                    }
                } 
            }
            .enlace-web{
                a{
                    color: black;
                    &:hover{
                        color: $coloraliveri;
                    }
                }
            }
            .alerta{
                @include background($colortitulo);
                @include fonts(1.3em, center ,bolder ,'Thasadith', sans-serif );
                margin-top: 2.5em;
                border: 1px solid $coloraliveri;
            }
        }
        .columna-2{
            text-align: center;
            padding: 1em;
            .medio-entrega{
                @include pb(0.3em,0.5em);
                @include background($colortitulo);
                @include fonts(2em,center ,bolder ,'Thasadith', sans-serif );
            }
            div{
                h3{
                    font-size: 1.2em;
                }
                ul{
                    list-style: none;
                }
            }
        }
    }
    .info-importante{
        @include margin(2em , 2em ,none ,none );
        @include fonts(1em, center , bold ,'Thasadith', sans-serif );
        line-height: 2em;
        padding: 4em;
        border-radius: 0.2em;
        background-color: $colorheader;
        .importante{
            @include background($colortitulo);
            @include pb(0.3em,0.5em);
            font-weight: bolder;
            font-size: 2em;
        }
        p{
            margin-top: 2em;          
        }
    }
    .seccion-contenido{
        @include margin(4em,4em ,none ,none);
        .conoce2{
            font-family: 'Thasadith', sans-serif;
            h4{
                font-size: 2em;
            }
            p{
                @include fonts(1em,none ,bold ,'Thasadith', sans-serif );
                line-height: 1.8em;
            }
        }
        .imagenes-delicias{
            .div-img-delicias{
                a{
                    text-decoration: none;
                    font-size: 1.6em;                 
                    padding: 0.2em;
                    color: $colortitulo;
                    font-family: 'Caveat', cursive;
                    &:hover{
                        @include background($colortitulo);
                        @include margin(none,none ,0.3em ,0.3em );
                        padding: 0.2em;
                        border-radius: 0.2em;
                    }
                }
                .tort2{
                    @include pb(0.4em,0.7em );
                    width: 200.5px;
                    height: 200.5px;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }      
    }
    .menu{  
        @include pb(0.7em,0.5em );
        @include margin(4em, 4em , 2em, 2em);
        background-image: url(/imagenes/tic-tac-toe.png);
        .menuTitulo{
            @include background($colorfooter);
            @include pb(0.5em,0.2em );
            @include fonts(2.2em, center ,none ,'Caveat', cursive);  
        }
        .flex-container{
            @include flex();
            div{
                @include pb(2em,1em );
                width: 300px;
                margin:1.2em;
                background-color: $colorheader;
                border: 3px solid $coloraliveri;
                h3{
                    @include background($colortitulo);
                    @include pb(0.5em,0.5em );
                    @include fonts(1.3em, center , bold ,'Caveat', cursive);
                }
                ul{
                    @include pb(1em, none );
                    font-size: 1em;
                    list-style:circle;
                    list-style-position: inside;
                    font-weight: bold;
                    li{
                        text-align: left;
                        padding: 0.6em;
                        font-family: 'Thasadith', sans-serif;  
                    }
                }              
            }
        }
        .boton2{
            text-align: center;
            a{
                font-family: 'Thasadith', sans-serif;
            }
        }
    }
    .img-g{
        @include margin(4em,4em ,2em ,2em);
        background-image: url(/imagenes/tic-tac-toe.png);
        padding: 0.8em;
        h2{
            @include background($colorfooter);
            @include fonts(2.2em, left , none ,'Caveat', cursive);
            padding: 0.5em;
            border-radius: 0.2em;
        }
        .img-info{
            @include flex();
            .img-img{
                width: 300px;
                height: 300px;
                border-radius: 1em;
                margin: 0.5em;
                opacity: 0.8;
                transition: 1s all ease;
                &:hover{
                    opacity: 1;
                    transform: scale(1.1,1.1);             
                }
            }
        }
    }
}           