@import "colores";
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        color: black;
    }
        @else if $color == $colorfooter{
            color: $colortitulo;
        }
            @else if $color == $colortitulo{
                color: black;
            }
                @else{
                    color: black;
                }
}
@mixin border {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
/*PAGINA HACE TU PEDIDO*/
/*MAIN*/
.cuerpo{
    @include background($colorheader);
    @include border();
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    .pedidoOnline{
        @include background($colorfooter);
        @include border();
        font-family: 'Thasadith', sans-serif;
        text-align: center;
        padding: 0.8em;
        font-size: 2em;
    } 
    form{
        .div-input{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            .nombreFormu{
                padding: 5px;
                font-family:'Thasadith', sans-serif;
                font-weight: bold;
            }
        }
        div{
            .tituloFavorito{
                margin-top: 1em;
                text-decoration: underline;
                font-size: 1.7em;
                font-family:'Thasadith', sans-serif;
                font-weight: bold;
            }
            .opcion-torta{
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                text-align: center;
                .opciones{
                    display: block;
                    padding: 1em;
                    .nobreFormu2{
                        font-family: 'Caveat', cursive;
                    }
                }
                .opciones2{
                    display: inline-block;
                  
                }
            }
        }
        .envio{
            margin-top: 2em;
        }
        .envio-nov{
            margin-top: 1em;
            margin-bottom: 1em;
            .envio-si{
                display: block;
                margin-top: 2em;
                font-size: 1em;
            }
        }
        .botones-limp-env{
            margin: 1em;
            .limpiar{
                @include background($colorfooter);
                padding: 0.2em;
                transition: all 1s ease;
                &:hover{
                    @include background($colortitulo);
                }
            }
        }
    }
}     