@import "colores";
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        color: #000000;
    }
        @else if $color == $colorfooter{
            color: $colortitulo;
        }
            @else{
                color: #000000;
            }
}
@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
@mixin font-align-size-padding-line($align,$size,$padding,$line){
    font-family:'Thasadith', sans-serif;
    text-align: $align;
    font-size: $size;
    padding: $padding;
    line-height: $line;
}
@mixin border ($left, $right) {
    border-top-left-radius: $left;
    border-top-right-radius: $right; 
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}
@mixin margin($left, $right){
    margin-left: $left;
    margin-right: $right;
}
/*PAGINA QUIÉNES SOMOS*/
.main{
    @include background($colorheader);
    @include border(0.8em, 0.8em );
    margin: 2em;
    .titulo-quien{
        @include background($colorfooter);
        @include font-align-size-padding-line(center,2em , 0.8em, none);
        @include border(0.5em, 0.5em );
    }
    .contenedor{
        padding: 0.8em;
        @include margin(0.5em,0.5em );
        .contenedor-texto{
            @include flex();
            .alexiaImg{
                img{
                    @include sizes(37.5em,auto );
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                    border-radius: 0.3em;
                }
            }           
            .historia1{
                @include margin(0.5em,0.5em );
                p{
                    @include font-align-size-padding-line(justify,1.2em ,none,2em );
                    @include margin(0.5em,none );
                    margin-top: 2.5em;
                    font-weight: 600;
                }
                h2{
                    text-align: right;
                    font-size: 1.2em;
                    font-family:$thasadith;
                    font-weight: bold;
                }
            }
        }
    }
}