@import "delicias";
@import "pedido";
@import "informacion";
@import "quienes";
@import "colores";
$size: 4em;
@mixin flex ($justify){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
}
@mixin sizes($width, $height){
    width: $width;
    height: $height;
}
@mixin margin ($mtop, $mbot){
    margin-top: $mtop;
    margin-bottom: $mbot;
}
@mixin mrightleft ($right, $left){
    margin-right: $right;
    margin-left: $left;  
}
@mixin text-size-padding ($align, $fsize, $padding){
    text-align: $align;
    font-size: $fsize;
    padding: $padding;
}
@mixin background($color) {
    background-color: $color;
    //APLICANDO CONDICIONALES//
    @if $color == $colorheader {
        font-family:'Thasadith', sans-serif;
        color: black;
    }
        @else if $color == $colorfooter{
            font-family:'Thasadith', sans-serif;
            color: $colortitulo;
        }
            @else if $color == $colordestacado{
                font-family:'Thasadith', sans-serif;
                color: black;
            }
                @else if $color == $clientes{
                    font-family:'Thasadith', sans-serif;
                    color: black;
                }
                    @else{
                        color: black;
                    }
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* PAGINA INDEX */
/*HEADER*/
header{
    .header-nav{
        padding-right: 0;
        a{
            .logo{
                @include sizes(150px, auto);          
            }
        }
        div{
            .menuPrincipal{
                @include background($colorfooter);
                border-bottom-left-radius: 1em;
                border-top-left-radius: 1em;
                padding: 1em;
                li{
                    @include mrightleft(1em, 1em);
                    a{
                        @include text-size-padding(center, 1.5em ,none);
                        color: $colortitulo;
                        transition: all 1s ease;
                        text-decoration: none;
                        &:hover{
                            background-color: $colortitulo;
                            font-weight: bold;
                            color: $colorfooter;
                            border-radius: 5px;
                            padding: 0.5rem;
                            font-weight: bold;
                        }
                        &:active{
                            color: rgb(14, 11, 14);
                        }
                    }
                }
            }
        }           
    }            
}
/* IMAGENES PRINCIPALES */
.principal{
    .imagenesPrincipales{
        @include sizes(100%, auto);
    }
}
.botonesPrincipales{
    position:fixed;
    bottom: 0;
    right: 0;
    margin-right:30px;
    margin-bottom: 30px;
    z-index: 100;
    .foto-whatsapp{
        @include sizes(50px, 50px);
        &:hover{
            opacity: 0.8;
        }
    }
}
 /*SECCIONES*/           
/*SECTION 1*/
.section1{
    @include mrightleft(4em, 4em);
    @include margin(10em, 10em);
    @include flex(center); 
    border-top: 2px solid $coloraliveri;
    border-bottom: 2px solid $coloraliveri;
    padding: 3em;
    align-items: center;
    .aliveri{
        @include text-size-padding(center, 4.5em ,0.2em );
        color:  $coloraliveri;
        font-family: 'Sofia', cursive;
    }
    .presentacion{
        @include text-size-padding(center,1.3em ,1.5em);
        line-height: $size/1.6;
    }    
}
//BOTON QUIENES SOMOS, VER TODOS Y BOTON EN SECCION INFORMACIÓN//
.boton{
    @include margin(1em, 1em);
    background-color:$colorfooter;
    font-family:'Thasadith', sans-serif;
    padding-left: $size/4;
    padding-right: $size/4;
    text-align: center;
    &:hover{
        background-color: $colortitulo;
        border: 1px solid $colorfooter;    
    }
    a{
        color: $colortitulo;
        text-decoration: none;
        &:hover{
            color: $coloraliveri;
            font-weight:bolder;  
        }
    }
}
/*SECTION 2: DESTACADOS*/
.section2{
    @include background($colordestacado);
    @include margin(10em, 10em);
    .destacado-title{
        @include background($colorfooter);
        @include text-size-padding(center, 2.4em , 0.5em );
        font-family:'Thasadith', sans-serif;
    }
    .boton-ver{
        text-align: center;
    }
    .divs-destacados{
        @include flex(space-around);
        .imagen-destacada1{
            @include background($clientes);
            @include sizes(288px, 385px);
            border: 1px $colorfooter solid;
            margin: 0.2em;
            text-align: center;
            img{
                @include sizes(286px,270px);
                padding: 0.3em;
                transition: all 1s ease;
                &:hover{
                    opacity: 0.8;
                }
            } 
            .card-title{
                @include mrightleft(0.2em, 0.2em);
                @include background($colorfooter);
                @include text-size-padding(none,1.2em , 0.2em);
                border-radius: 0.5em;
                margin-top: 1em;
            }                       
            .boton-hace-tu-pedido{
                @include margin(0.5em, 0.5em);
                font-family: 'Thasadith', sans-serif; 
                color: $coloraliveri;
                border: 1px solid $colorfooter;
                font-weight: bolder;
                &:hover{
                    background-color: $colorfooter;
                    color: $colortitulo;
                }         
            }                                    
        }
    }
}
/* SECCION PEDIDO/MEDIO DE PAGO*/
.flex-padre{
    @include flex(space-around);
    @include mrightleft(4em, 4em);
    @include margin(10em, 10em);
    padding: $size/2;
    text-align: center;
    div{
        padding: 1rem;
        .flex-image{
            @include sizes(60px,60px);
        }
        h4{
            margin-top: 10px;
            font-family: 'Thasadith', sans-serif;
            font-size: 1.4em;
        }
    }
}
 /*SECCION CONOCE NUESTRAS DELICIAS*/
.seccion-contenido{
    @include flex(space-around);
    @include background($colorfooter);
    @include margin(10em, 10em);
    padding: 2em;
    .conoce-delicias{  
        font-family: 'Thasadith', sans-serif;
        h5{
            color:$colortitulo;
        }
        p{
            font-size: 1rem;
            color: black;
        }
    }
    .imagenes-delicias{
        @include flex(space-around);
        align-items: center;
        text-align: center;
        .div-img-delicias{
            @include sizes(200.5px,auto);
            @include mrightleft(0.5em, 0.5em);
            .tort{
                @include sizes(210.5px, 210.5px);
                padding: 0.4rem;
                border-radius: 0.7rem;
                opacity: 1;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
/*SECTION 3*: CLIENTES*/
.section3{
    @include background($clientes);
    @include margin(10em, 10em);
    font-family: 'Thasadith', sans-serif;
    font-weight: bold;
    .tituloCliente{
        @include background($colorfooter);
        @include text-size-padding(center, 2.4em ,0.5em );
    } 
    .clientes-divs{
        @include flex(space-around);
        font-family: 'Thasadith', sans-serif;
        .card-cliente{
            @include sizes(200px, auto);
            @include background($colortitulo);
            margin: $size/2;
            text-align: center;
            .cliente{
                @include sizes(200px, auto );
                padding: 0.8rem;
            }
            h5{
                @include background($colorfooter);
                @include text-size-padding(none, 1.4em , 0.5em);
                margin: 0.5rem;
                border-radius: 0.2rem;           
            }
            p{
                text-align: center;
                padding: 0.5em;
            }
        }
    }
}   
/*FOOTER*/
footer{
    @include background($colorfooter);
    @include flex(space-around);
    font-family:'Thasadith', sans-serif;;
    align-items: center;
    padding-top: $size/1.6;
    padding-bottom: $size/1.6;
    font-size: 1rem;
    font-weight: 400;
    .menuFinal{
        ul{
            list-style: none;
        }
        a{
            color: $colortitulo;
            font-family:'Thasadith', sans-serif;
            text-align: justify;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            &:active{
                color: black;
            }
        }
    }
    div{
        h5{
            font-weight: 400;
        }
    }
    .logoFinal{
        @include sizes(100px, 100px);
    }   
    .tamaño{
        @include sizes(20px,20px);
        margin-right: 1rem;
        opacity: 0.6;
        &:hover{
            margin-right: 1rem;
            opacity:  1;
        }
    }
}         
/*MEDIA QUERIES*/
/*Mobile*/
@media (max-width:480px){
    header{
        text-align: center;
        .header-nav{
            padding-right: 0.75rem;
            div{
                .menuPrincipal{
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    li{
                        a{
                            font-size: 1.7em;
                        }
                    }
                }
            }
        }
    }
    .section1{
        @include mrightleft(1em, 1em);
        @include margin(6em, 6em);
        .aliveri{
            font-size: 3rem
        }
        .presentacion{
            @include text-size-padding(center, 0.9em , 0);
            display: block;
        }
    }
    .section2{
        @include margin(6em, 6em);  
    }
    .flex-padre{
        @include margin(6em, 6em);
        font-size: 0.9em;
        padding:1em;
    }
    .seccion-contenido{
        @include margin(6em,6em);
        text-align: center;
        .conoce-delicias{
            h5{
                font-size: 1.8em;
            }
            p{
                margin-top:2em;
            }
        }
    }
    .section3{
        @include margin(6em,6em);
    }   
    footer{
        display: block;
        text-align: center;
        .menuFinal{
            nav{
                ul{
                    li{
                        a{
                            text-align: center;
                            margin-right: $size/2;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
        div{
            a{
                .logoFinal{
                    @include margin(1.5em,1.5em );
                }
                .tamaño{
                    margin-top: 1em;
                }
            }
        } 
    }
   // SECCION DELICIAS//
    .galeria-imagenes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        div{
            padding: 1em;     
        }  
    } 
    //QUIENES SOMOS//
    .textoLargo{
        flex-wrap: wrap;
    }
    .alexiaImg{
        img{
            max-width: 100%;
        }
    } 
    .historia1{
        p{
            font-size: 1em;
            line-height: 1em;
        }
    }
    .historia2{
        flex-wrap: wrap;
        div{
            p{
                @include text-size-padding(justify, 1em ,2em);
                font-family:'Thasadith', sans-serif;
                color:rgb(14, 9, 10);
                line-height: 1em;
            }
        }
        img{
            max-width: 100%;
        }  
    } 
    .tort{
        width: 100px;
        height: 100px;
    }
    //HACE TU PEDIDO// 
    .cuerpo{
        padding: 1em;
        form{
            .div-input{
                display: block;
                .nombreFormu{
                    display: block;
                }
            }
        }
    }
    //INFORMACION// 
    .conoce2{
        text-align: center;
    }
}
@media (min-width:480px) and (max-width:800px){
    header{
        text-align: center;
        background-color: $colortitulo;
        .header-nav{
            padding-right: 0.75rem;
            div{
                .menuPrincipal{
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    li{
                        a{
                            font-size: 1.9em;
                        }
                    }
                }
            }
        }
    }
    .section1{
        @include mrightleft(1em,1em);
        @include margin(6em, 6em);
        .aliveri{
            font-size: 3em
        }
        .presentacion{
            @include text-size-padding(center, 0.9em ,0);
            display: block;
        }
    }
    .section2{
        @include margin(6em,6em);  
    }
    .flex-padre{
        @include margin(6em, 6em);
        font-size: 0.9em;
        padding:1em;
    }
    .seccion-contenido{
        margin-bottom: 6em;
        text-align: center;
        .conoce-delicias{
            h5{
                margin-bottom: 1em;
                margin-top: 1em;
            }
        }
    }
    .section3{
        @include margin(6em ,6em);
        .clientes-divs{
            .card-cliente{
                width: 250px;

            }
        }
    }   
    footer{
        display: block;
        text-align: center;
        .menuFinal{
            nav{
                ul{
                    li{
                        a{
                            text-align: center;
                            margin-right: $size/2;
                            font-size: 1.5em
                        }
                    }
                }
            }
        }
        div{
            a{
                .logoFinal{
                    @include margin(1.5em,1.5em );
                }
                .tamaño{
                    margin-top: 1em;
                }
            }
        }  
    }
    .galeria-imagenes{
        display: flex;
        flex-wrap: wrap;
        div{
            padding: 1em;  
        }  
    }
    //HACE TU PEDIDO//
    .cuerpo{
        form{
            .div-input{
                display: block;
            }
        }
    }
    //QUIENES SOMOS//
    .textoLargo{
        flex-wrap: wrap;
        .alexiaImg{
            img{
                max-width: 100%;
            }
        }           
        .historia1{
            @include mrightleft(0.5em ,0.5em);
            p{
                font-size: 1em;
                line-height: 1em;
            }
        }
    }
    .historia2{
        flex-wrap: wrap;
        div{
            p{
                font-size: 1em;
                line-height: 1em;
            }
        } 
    } 
    //INFORMACION// 
    .conoce2{
    text-align: center;
    }
}
@media (min-width:801px) and (max-width:991px){
    header{
        text-align: center;
        background-color: $colortitulo;
        .header-nav{
            padding-right: 0.75rem;
            div{
                .menuPrincipal{
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    li{
                        a{
                            font-size: 1.9em;
                        }
                    }
                }
            }
        }
    }
    .section1{
        @include margin(6em,6em );
        @include mrightleft(1em, 1em );
        .aliveri{
            font-size: 3em
        }
        .presentacion{
            @include text-size-padding(center, 0.9em ,0);
            display: block;
        }
    }
    .section2{
        @include margin(6em,6em);  
    }
    .flex-padre{
        @include margin(6em, 6em);
        font-size: 0.8em;
        padding:1em;
    }
    .seccion-contenido{
        margin-bottom: 6em;
        text-align: center;
        .conoce-delicias{
            h5{
                @include margin(1em,1em );
            }
        }
    }
    .section3{
        @include margin(6em ,6em);
        .clientes-divs{
            .card-cliente{
                width: 300px;
            }
        }
    }   
    //QUIENES SOMOS//
    .textoLargo{
        flex-wrap: wrap;
        .alexiaImg{
            img{
                max-width: 100%;
            }
        }           
        .historia1{
            @include mrightleft(0.5em ,0.5em);
            p{
                font-size: 1em;
                line-height: 1em;
            }
        }
    }
}
@media (min-width:991px) and (max-width:1200px){
    header{
        text-align: center;
        .header-nav{
            div{
                .menuPrincipal{
                    li{
                        a{
                            font-size: 1.9em;
                        }
                    }
                }
            }
        }
    }
    .section1{
        @include margin(6em,6em );
        @include mrightleft(1em, 1em );
        .aliveri{
            font-size: 3em
        }
        .presentacion{
            @include text-size-padding(center, 0.9em ,0);
            display: block;
        }
    }
    .section2{
        @include margin(6em,6em);  
    }
    .flex-padre{
        @include margin(6em, 6em);
        font-size: 0.8em;
        padding:1em;
    }
    .seccion-contenido{
        margin-bottom: 6em;
        text-align: center;
        .conoce-delicias{
            h5{
                @include margin(1em,1em );
            }
        }
    }
    .section3{
        @include margin(6em ,6em);
    }   
    .textoLargo{
        flex-wrap: wrap;
        .alexiaImg{
            img{
                max-width: 100%;
            }
        }           
        .historia1{
            @include mrightleft(0.5em ,0.5em);
            p{
                font-size: 1em;
                line-height: 1em;
            }
        }
    }
}